.container
    .logo
        img(src="icon.png")
    h1 kép-tér
    .row
        .col.s12.m8.l8.offset-m2.offset-l2
            img.materialboxed.port(src="img1.jpg")
    h3 hamarosan...
    .close
        h3 soon...
        